[package]
name = "storage"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
borsh.workspace = true

rocksdb.workspace = true

[dependencies.common]
path = "../common"
